@import "tailwindcss";

body {
  @apply bg-slate-100;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/* Custom scrollbar styling. */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}
